.professor-layout {
    display: flex; /* Χρησιμοποιούμε flexbox για οριζόντια διάταξη */
    height: 100vh; /* Καταλαμβάνει ολόκληρο το ύψος του παραθύρου */
  }
  
  .professor-content {
    flex-grow: 1; /* Το περιεχόμενο καταλαμβάνει τον υπόλοιπο χώρο */
    padding: 20px; /* Περιθώριο για το περιεχόμενο */
    overflow-y: auto; /* Κάθετη κύλιση αν χρειάζεται */
    
  }
  